@model IEnumerable<AuthorIndexViewModel>
@{
    ViewData["Title"] = "Home Page";
    var Authors = Model.ToList();
}

@if (!Authors.Any())
{
    <div class="mt-4 p-5 bg-light">
        <h1 class="display-4">Welcome to the best place for finding spiritual authors!</h1>
        <p class="lead">
            There are no authors in the system currently available
            so why don't you just add one?
        </p>
        <hr class="my-4">
        <p class="lead">
            @if (User.Identity?.IsAuthenticated ?? false)
            {
                <a asp-controller="Author" asp-action="Add" class="btn btn-primary btn-lg"
                   role="button">Add Author</a>
            }
        </p>
    </div>
}
<div class="mb-5"></div>
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        @for (int i = 0; i < Authors.Count(); i++)
        {
            var Author = Authors[i];
            <div class="carousel-item @(i == 0 ? "active" : string.Empty)">
                <img class="d-block w-100" style="height:500px"
                     src="@Author.AvatarImageUrl" alt="@Author.Alias">
                <div class="carousel-caption d-none d-md-block">
                    <h5>
                        <a class="btn btn-primary" asp-controller="Author" asp-action="Details"
                           asp-route-id="@Author.Id"> @Author.Alias</a>
                    </h5>
                </div>
            </div>
        }
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<div class="mb-5"></div>

<div class="row">
    <div class="col-12 text-center">
        <button class="btn btn-primary" id="statistics_btn">Show Statistics</button>
    </div>
</div>

<div class="mt-4 p-5 bg-light d-none" id="statistics_box">
    <div class="row">
        <h2 class="col-md-4 text-center" id="total_authors"></h2>
        <h2 class="col-md-4 text-center" id="total_events"></h2>
        <h2 class="col-md-4 text-center" id="total_courses"></h2>
        <br />
        <h2 class="col-md-4 text-center" id="total_books"></h2>
        <h2 class="col-md-4 text-center" id="total_blog-posts"></h2>
        <h2 class="col-md-4 text-center" id="total_users"></h2>
    </div>
</div>

@section Scripts
{
    <script>statistics();</script>
}
