@model EventDetailsViewModel
@inject IPublisherService _publisherService
@{
    ViewBag.Title = "Event Details";

    bool isUserLoggedIn = this.User.Identity?.IsAuthenticated ?? false;
    bool isUserConnectedPublisher = false;

    if (isUserLoggedIn)
    {
        isUserConnectedPublisher = await _publisherService.IsConnectedToEntity<Author>(this.User.GetId()!, Model.Id);
    }
}
<h2 class="text-center">@ViewBag.Title</h2>
<hr />
<div class="container" style="display:inline">
    <div class="row">
        <div class="col-4">
            <img class="card-img-top" style="width: 20rem;"
                 src="@Model.ImageURL" alt="Event Image">
        </div>
        <div class="card col-8 border-0">
            <p style="font-size:25px;"><u>@Model.Title</u></p>
            <p>Presenter: <b><a asp-controller="Author" asp-action="Details" asp-route-id="@Model.Author.Id">@Model.Author.Alias</a></b></p>
            <p>Category: <b>@Model.CategoryName</b></p>
            <p>Participation: @Model.Participation</p>
            <p>Beginning: @Model.StartDateTime.ToString("yy-MM-dd, hh:mm tt")</p>
            <p>End: @Model.EndDateTime.ToString("yy-MM-dd, hh:mm tt")</p>
            @if (!string.IsNullOrEmpty(Model.LocationName))
            {
                <p>Location: <b><a href="@Model.LocationUrl" target="_blank">@Model.LocationName</a></b></p>
            }
            <p>@Model.Description</p>
            <p>Price: $@($"{Model.Price:F2}")</p>
            @* <p>
            Participants:
            <b>@Model.ParticipantsCount</b>
            </p> *@
            <div class="form-inline">
                @if (isUserLoggedIn)
                {
                    @if (isUserConnectedPublisher || this.User.IsAdmin())
                    {
                        <a asp-controller="Event" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
                        <a asp-controller="Event" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Delete</a>
                    }
                    <p></p>
                    @if (Model.IsUserJoined)
                    {
                        <form asp-controller="Event" asp-action="Leave"
                              asp-route-id="@Model.Id" method="post">
                            <input class="btn btn-primary mb-1" type="submit" value="Leave" />
                        </form>
                    }
                    else
                    {
                        <form class="input-group-sm " asp-controller="Event"
                              asp-action="Join" asp-route-id="@Model.Id" method="post">
                            <input class="btn btn-primary mb-1" type="submit" value="Join" />
                        </form>
                    }
                }
            </div>
            <p></p>
            <h5 class="card-title">Organizer</h5>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    @if (!string.IsNullOrEmpty(Model.Publisher.FullName))
                    {
                        <p class="card-text">Name: @Model.Publisher.FullName</p>
                    }
                    <p class="card-text">Email: @Model.Publisher.Email</p>
                    <p class="card-text">Phone Number: @Model.Publisher.PhoneNumber</p>
                </div>
            </div>
        </div>
    </div>
</div>