@model CourseDetailsViewModel
@inject IPublisherService _publisherService
@{
    ViewBag.Title = "Course Details";

    bool isUserLoggedIn = this.User.Identity?.IsAuthenticated ?? false;
    bool isUserConnectedPublisher = false;
    bool isUserAdmin = false;

    if (isUserLoggedIn)
    {
        string userId = this.User.GetId()!;
        isUserAdmin = this.User.IsAdmin();
        bool isUserPublisher = await _publisherService.ExistsByUserIdAsync(userId);
        if (isUserPublisher)
        {
            isUserConnectedPublisher = await _publisherService.IsConnectedToAuthorByUserId(userId, Model.Author.Id);
        }
    }

    bool CanEdit() => isUserAdmin || isUserConnectedPublisher;
}
<h2 class="text-center">@ViewBag.Title</h2>
<hr />
<div class="container" style="display:inline">
    <div class="row">
        <div class="col-4 d-flex flex-column align-items-center">
            <img class="card-img-top" style="width: 20rem;" src="@Model.ImageUrl" alt="Course Image">
            <p></p>
            <p>Category: <b>@Model.CategoryName</b></p>
            <div class="form-inline">
                @if (isUserLoggedIn)
                {
                    @if (CanEdit())
                    {
                        <div class="d-flex flex-row">
                            <a asp-controller="Course" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
                            @if (!Model.IsActive)
                            {
                                <form asp-controller="Course" asp-action="Show" asp-route-id="@Model.Id" method="post" class="mx-1">
                                    <input class="btn btn-primary" type="submit" value="Show" />
                                </form>
                            }
                            else
                            {
                                <form asp-controller="Course" asp-action="Hide" asp-route-id="@Model.Id" method="post" class="mx-1">
                                    <input class="btn btn-warning" type="submit" value="Hide" />
                                </form>
                            }
                            <a asp-controller="Course" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Delete</a>
                        </div>
                    }
                }
            </div>
            <p></p>
            <h5 class="card-title">Published By:</h5>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    @if (!string.IsNullOrWhiteSpace(Model.Publisher.FullName))
                    {
                        <p class="card-text">Name: @Model.Publisher.FullName</p>
                    }
                    <p class="card-text">Email: @Model.Publisher.Email</p>
                    <p class="card-text">Phone Number: @Model.Publisher.PhoneNumber</p>
                </div>
            </div>
        </div>
        <div class="card col-8 border-0">
            <p style="font-size:25px;"><u>@Model.Name</u></p>
            <p>Author: <b><a asp-controller="Author" asp-action="Details" asp-route-id="@Model.Author.Id">@Model.Author.Alias</a></b></p>
            <p>Price: <b>@(Model.Price == 0 ? "Free" : $"${Model.Price:F2}")</b></p>
            <p>Modules: <b>@Model.ModulesCount</b></p>
            <p>@Model.Description</p>
            @if (isUserLoggedIn)
            {
                @if (Model.UserHasCourse)
                {
                    <form asp-controller="Course" asp-action="Remove"
                          asp-route-id="@Model.Id" method="post">
                        <input class="btn btn-primary mb-1" type="submit" value="Remove" />
                    </form>
                }
                else
                {
                    <form class="input-group-sm " asp-controller="Course"
                          asp-action="Get" asp-route-id="@Model.Id" method="post">
                        <input class="btn btn-primary mb-1" type="submit" value="Get" />
                    </form>
                }
                <p></p>
                if (CanEdit())
                {
                    <a asp-controller="Module" asp-action="Append" asp-route-courseId="@Model.Id" class="btn btn-primary">+ Add Module</a>
                    <p></p>
                }
            }
            @if (Model.Modules.Any(m => m.IsActive) || CanEdit())
            {
                <div class="accordion" id="moduleAccordion">
                    @foreach (var module in Model.Modules)
                    {
                        @if (CanEdit() || module.IsActive)
                        {
                            <div class="accordion-item" id="heading-@module.Number">
                                <div class="accordion-header d-flex justify-content-between align-items-center h-85">
                                    <h2 class="w-100 mb-0">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-@module.Number" aria-expanded="false" aria-controls="collapse-@module.Number">
                                            <p>Module @module.Number:  <b>@module.Name</b></p>
                                        </button>
                                    </h2>
                                    @if (CanEdit() || Model.UserHasCourse)
                                    {
                                        <a asp-controller="Module" asp-action="Details" asp-route-id="@module.Id" class="w-25 h-25 text-center">Go to Module >></a>
                                    }
                                </div>
                                <div id="collapse-@module.Number" class="accordion-collapse collapse" aria-labelledby="heading-@module.Number" data-bs-parent="#moduleAccordion">
                                    <div class="accordion-body">
                                        <b>Description:</b> @module.Description
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            }
            else
            {
                <p></p>
                <h4 class="text-center">Course doesn't have any modules yet.</h4>
            }
        </div>
    </div>
</div>
